<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487785909740-4aaesvii94enkvd1gknf7s67ls5k35t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487785909740-4aaesvii94enkvd1gknf7s67ls5k35t1</string>
	<key>API_KEY</key>
	<string>AIzaSyCiVLgtcqn8yZr4pcUQm7ZQyMBYZYLjsDA</string>
	<key>GCM_SENDER_ID</key>
	<string>487785909740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.michaelthedeveloper.The-Dating-App</string>
	<key>PROJECT_ID</key>
	<string>thedatingapp-f3ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>thedatingapp-f3ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:487785909740:ios:c9ac39c706164eca8a84c9</string>
</dict>
</plist>
